/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}


/* HLAVICKA */



.hlavicka {
    margin: 0;
    padding: 5px;
    color: #f5f5f5;
    text-align: center;
    background-image: url(images/island-hlavicka.jpg);
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
}


.titulek {
    font-family: 'Raleway', serif;
    font-size: 40px;
    text-align: center;
    color: white;
}

.perex {
    color: white;
    padding: 20px;

}

.autor {
    color: white;
    size: 14px;
    font-style: italic ;
}

/* MENU */
.menu {
    text-align: center;
    padding: 15px;
    color: silver;
    font-variant-caps: all-small-caps;
    list-style-type: none;
    text-decoration: none; 
    /*nefunguje zrusit podtrzeni*/
}
h2 {
    padding-left: 10px;
}

.menu a:hover {
    background-color: black;
}

/* OBSAH */

.Obsah {
    background-color: #f5f5f5;
    position: relative;
    
    
}

img {
    /*?? lekce 07*/
    /*background-size: cover;*/
    width: 100%; /*Tom*/
    height: 100px;
    padding: 0 0 2px 0;
    
        
}

p {
    padding: 0 10px 0 10px;
}

.popisek_obsah {
    text-align: center;
    color: lightgray;
    position: relative;
    bottom: 20px;
    
}


/* FOTOGALERIE */

.Fotogalerie {
    padding-top: 5%;
    background-color: #f5f5f5;
    font-size: smaller;
    position: relative;
        
        }
    
.foto {
    height: 250px;
    padding-bottom: 0px;
   /* position: relative;*/
}

img {
    /*position: absolute;*/
    height: 250px;
    top: 0;
    left: 0;
    z-index: 0;
    
}
.popisek {
    text-align: center;
    
}

/*
.foto_box {
    position: relative;
}
.popisek {
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 10px;
}
*/

/* PATICKA */
.paticka {
    padding-top: 15px;
    font-size: 12px;
    background-color: lightgray;
    background: linear-gradient(to bottom, gray 1%, lightgray 99%)
  }
a {
    color: gray;
}


/*Mediaquery pro tablet*/

@media screen and (min-width: 540px) and (max-width: 1023px){
    
    /*Galerie*/
    .galerie {
        display: flex;
        flex-wrap: wrap;
        align-content: start;
        }

    .foto_box {
        display: flex;
        /*flex-direction: column;*/
        flex: 0 1 50%;  /*od Báry*/
    }

   .foto {
        height: 250px;
   }
   
   .posledni {
        /*nefunguje aby na 50% plochy
        flex-basis:  50%;*/
   }



   img {
        position: relative;
        height: 350px;
        
   }

   .hlavicka {
        color: white;
        position: relative;
        height: 300px;
        /*opacity: 0.60;*/
        filter: brightness(65%);
   }
   .perex {
        position: absolute;
        top: 70px; 
   }
   .autor {
        position: absolute;
        top: 195px;
        left: 320px;
   }

    .Obsah {
        padding: 20px 0 20px 0;
        background-color: #f5f5f5;
        color: black;
       
    }

   .menu {
        color: gray;
        display: flex;
        justify-content: space-evenly;
        
    }

    ul li {
        border: 1px solid gray;
        flex-grow: 2;
            }

    
/*Fotogalerie - dokoncit schovani popisku - lepe transition

    .foto_box {
        position: relative;
    }

    .popisek {
        position: absolute;
        bottom: ;
    }

    */
   

}


/*media query pro PC pocitac*/

@media screen and (min-width: 1024px) {


    .Obsah {
        padding: 0 0px 0 0px;
        border: 1px solid lightgray;
        margin: -60px 50px 100px;
               
    }

/*Hlavicka*/ 
    .perex {
        padding: 20px 100px 0 100px;
    }

/*Uvod*/
   
   .hlavni_menu {
        display: flex;
       /* flex-wrap: wrap;*/
       
    }
    .menu_odkazy {
        display: flex;
        flex: 0 0 20%;
            
    
    }
    .menu {
        flex-direction: column;
              
            }
  
      
            /*
    .hlavni_menu {
     max-height: 255px;
    }  */

    .Uvod {
        padding: 20px 20px 0 50px;
    }

    .Proc {
        padding: 60px 150px 60px 30px;
    }

    .Musite {
        padding: 60px 15px 60px 150px;
    }

    img {
        position: relative;
        z-index: 1;
    }

    .popisek_obsah {
        position: absolute;
        color: white;
        bottom: 15px;
        right: 70px;
        z-index: 2;

    }

    li {
        color: white;
    }
    
    .galerie {
        display: flex;
        flex: wrap; }

    .foto_box {
        display: flex;
        flex: 1 1 33%;
    }
    

    .foto  { 
        position: relative;
        overflow: hidden;
        /*border: 3px dotted red; */} 

    img { 
        /*width: 100%;*/
        display: block; /*zmizi ucari*/
        transition: transform 0.3s; } 

    .popisek {
        position: absolute;
        /*top: 100%;
        left: 0;*/
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        width: 100%;
       transform: translateY(-100%); } 

    .foto:hover .popisek {
        transform: translateY(-100%); /*kopiruje vysku elementu*/
    } 

    .foto:hover img  {
        transform: scale(1.2); /*zvetseni*/
    }
}